@model PassGenerator.Models.PassModel

<!DOCTYPE html>
<html>
<head>
    <title>PassGenerator</title>
    <meta charset="utf-8" />
</head>
<body>
    
    <div class="form-group">

        <label for="Generate"> Beer Quantity </label>
        <input type="text" class="form-control" id="size" name="size" value="@Model.size">
    </div>
        

    <h2>@ViewData["Password"]</h2>

</body>
</html>