@model PassGenerator.Models.PassModel

<!DOCTYPE html>
<html>
<head>
    <title>PassGenerator</title>
    <meta charset="utf-8" />
</head>
<body>
    
    <p>@Model.GeneratingPass</p>

</body>
</html>